ul {
  display: flex;
  list-style-type: none;
  flex-wrap:wrap;
}
ul > * {
  margin-right: 15px;
  padding: 5px 15px;
  border: 1px solid green;
}

ul a {
  text-decoration: none;
  color: purple;
  font-weight: 500;
}